@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Bold.ttf) format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Black.ttf) format('truetype');
    font-weight: 900;
}