html {
  height: 100vh;
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    text-decoration: none;
  }

  .gradient {
    background: rgba(254, 199, 19, 1);
    background: -moz-linear-gradient(
      top,
      rgba(254, 199, 19, 1) 0%,
      rgba(254, 216, 118, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(254, 199, 19, 1)),
      color-stop(100%, rgba(254, 216, 118, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(254, 199, 19, 1) 0%,
      rgba(254, 216, 118, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(254, 199, 19, 1) 0%,
      rgba(254, 216, 118, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(254, 199, 19, 1) 0%,
      rgba(254, 216, 118, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(254, 199, 19, 1) 0%,
      rgba(254, 216, 118, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec713', endColorstr='#fed876', GradientType=0 );
  }
}

.centered-area {
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  #loading-circle {
    width: 60px;
    height: 60px;
    -webkit-animation: rotate-center 5s linear infinite;
    animation: rotate-center 5s linear infinite;
  }
  #login-logo {
    width: 230px;
    height: 230px;
  }

  #loading-title {
    color: black;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
  }

  .default-btn {
    width: auto;
    height: auto;
    button,
    & {
      width: 100%;
      max-width: 180px;
      height: 40px;
      border: none;
      margin: 5px 0 5px auto;
      color: white;
      font-family: Raleway;
      font-size: 1.1em;
      cursor: pointer;
    }
    transform: skewY(-5deg);
    &:active,
    &:focus {
      outline: none;
    }
  }
}

.loading-screen-footer {
  width: auto;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  #company-logo {
    width: 200px;
    height: 50px;
    margin: 20px 0;
  }
}

header.app-header {
  width: 100%;
  height: auto;
  padding: 10px 0;
  .header-brand {
    width: 110px;
    height: 60px;
    margin: 10px;
  }
  .menu-icon {
    font-size: 1.7em;
    cursor: pointer;
  }
  .title {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 1.3em;
    vertical-align: bottom;
    margin: 20px 0 0 0;
  }
}

.content-title {
  width: 100%;
  max-width: 700px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 0px;
  // float:left;
  // margin-right:auto;s
}

.content-item {
  width: 100%;
  max-width: 700px;
  height: 50px;
  background-color: white;
  margin: 2px 0;
  padding: 0 10px;
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
  }
  .content-item-title {
    font-family: "Raleway";
    font-weight: normal;
    margin: 0;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .amount {
    min-width: 100px;
    font-size: 1.05em;
  }
}

.branch-item {
  @extend .content-item;
  height: auto;
  padding: 15px 15px 5px 15px;
  .branch-notification {
    color: black;
    font-size: 0.6em;
    font-family: Raleway;
    font-weight: normal;
  }
  .isfull {
    width: 20px;
    height: 20px;
    background-color: lightgreen;
    margin-left: auto;
    margin-bottom: auto;
    border-radius: 50%;
    &.low {
      background-color: red;
    }
    &.normal {
      background-color: orange;
    }
  }
}

.filter {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  &.disabled {
    display: none;
  }
}
.sidebar-menu {
  width: 50%;
  min-width: 200px;
  max-width: 350px;
  height: 100%;
  background-color: #c4c4c4;
  position: fixed;
  top: 0;
  left: -200%;
  z-index: 9;
  transition: left 0.4s ease-in-out;
  .back-button {
    width:50px;
    height:50px;
    background:white;
    cursor:pointer;
    border-radius:50%;
    color:block;
    text-decoration: none !important;
    color:black;
  }
  &.active {
    left: 0;
  }
  .sidebar-item {
    width: 100%;
    height: 45px;
    background-color: white;
    margin: 5px auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
    .sidebar-item-icon {
      padding: 0 10px;
      color: black;
    }
    .sidebar-item-title {
      margin: 0;
      color: black;
      padding: 0 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .sidebar-header {
    width: 100%;
    height: 35%;
    background-color: blue;
    background: rgb(255, 173, 44);
    z-index: 1;
    background: -moz-linear-gradient(
      180deg,
      rgba(255, 173, 44, 1) 0%,
      rgba(255, 201, 93, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(255, 173, 44, 1) 0%,
      rgba(255, 201, 93, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(255, 173, 44, 1) 0%,
      rgba(255, 201, 93, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad2c",endColorstr="#ffc95d",GradientType=1);
    .profile-container {
      width: 80px;
      height: 80px;
      margin: 20px;
      border-radius: 50%;
      border: 1px solid rgba(254, 200, 25, 0.8);
    }
  }
}

.time-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  .time-item {
    &:hover {
      background-color:rgba(65,105,225, 0.5);
    }
    &.active {
      background-color:royalblue;
      color:white;
    }
    cursor:pointer;
  }
}

table.calendar-table {
  td {
    padding:0;
    cursor: pointer;
    &:hover {
      b {
        background-color:rgba(255,255,0, 0.5);
      }
    }
    &.active {
      b {
        background-color: yellow;
      }
    }
    b {
      display:block;
      width:40px;
      height:40px;
      background-color:none;
      margin:0 auto;
      border-radius:50%;
    }
  }
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
