html {
  height: 100vh;
}

html body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  text-decoration: none;
}

html .gradient {
  background: #fec713;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fec713), color-stop(100%, #fed876));
  background: -webkit-gradient(linear, left top, left bottom, from(#fec713), to(#fed876));
  background: linear-gradient(to bottom, #fec713 0%, #fed876 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec713', endColorstr='#fed876', GradientType=0 );
}

.centered-area {
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.centered-area #loading-circle {
  width: 60px;
  height: 60px;
  -webkit-animation: rotate-center 5s linear infinite;
  animation: rotate-center 5s linear infinite;
}

.centered-area #login-logo {
  width: 230px;
  height: 230px;
}

.centered-area #loading-title {
  color: black;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.centered-area .default-btn {
  width: auto;
  height: auto;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.centered-area .default-btn button, .centered-area .default-btn {
  width: 100%;
  max-width: 180px;
  height: 40px;
  border: none;
  margin: 5px 0 5px auto;
  color: white;
  font-family: Raleway;
  font-size: 1.1em;
  cursor: pointer;
}

.centered-area .default-btn:active, .centered-area .default-btn:focus {
  outline: none;
}

.loading-screen-footer {
  width: auto;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.loading-screen-footer #company-logo {
  width: 200px;
  height: 50px;
  margin: 20px 0;
}

header.app-header {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

header.app-header .header-brand {
  width: 110px;
  height: 60px;
  margin: 10px;
}

header.app-header .menu-icon {
  font-size: 1.7em;
  cursor: pointer;
}

header.app-header .title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.3em;
  vertical-align: bottom;
  margin: 20px 0 0 0;
}

.content-title {
  width: 100%;
  max-width: 700px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.content-item, .branch-item {
  width: 100%;
  max-width: 700px;
  height: 50px;
  background-color: white;
  margin: 2px 0;
  padding: 0 10px;
  cursor: pointer;
}

.content-item:hover, .branch-item:hover {
  text-decoration: none !important;
}

.content-item .content-item-title, .branch-item .content-item-title {
  font-family: "Raleway";
  font-weight: normal;
  margin: 0;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-item .amount, .branch-item .amount {
  min-width: 100px;
  font-size: 1.05em;
}

.branch-item {
  height: auto;
  padding: 15px 15px 5px 15px;
}

.branch-item .branch-notification {
  color: black;
  font-size: 0.6em;
  font-family: Raleway;
  font-weight: normal;
}

.branch-item .isfull {
  width: 20px;
  height: 20px;
  background-color: lightgreen;
  margin-left: auto;
  margin-bottom: auto;
  border-radius: 50%;
}

.branch-item .isfull.low {
  background-color: red;
}

.branch-item .isfull.normal {
  background-color: orange;
}

.filter {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.filter.disabled {
  display: none;
}

.sidebar-menu {
  width: 50%;
  min-width: 200px;
  max-width: 350px;
  height: 100%;
  background-color: #c4c4c4;
  position: fixed;
  top: 0;
  left: -200%;
  z-index: 9;
  -webkit-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.sidebar-menu .back-button {
  width: 50px;
  height: 50px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  color: block;
  text-decoration: none !important;
  color: black;
}

.sidebar-menu.active {
  left: 0;
}

.sidebar-menu .sidebar-item {
  width: 100%;
  height: 45px;
  background-color: white;
  margin: 5px auto;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
}

.sidebar-menu .sidebar-item .sidebar-item-icon {
  padding: 0 10px;
  color: black;
}

.sidebar-menu .sidebar-item .sidebar-item-title {
  margin: 0;
  color: black;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-menu .sidebar-header {
  width: 100%;
  height: 35%;
  background-color: blue;
  background: #ffad2c;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad2c), to(#ffc95d));
  background: linear-gradient(180deg, #ffad2c 0%, #ffc95d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad2c",endColorstr="#ffc95d",GradientType=1);
}

.sidebar-menu .sidebar-header .profile-container {
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50%;
  border: 1px solid rgba(254, 200, 25, 0.8);
}

.time-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.time-container .time-item {
  cursor: pointer;
}

.time-container .time-item:hover {
  background-color: rgba(65, 105, 225, 0.5);
}

.time-container .time-item.active {
  background-color: royalblue;
  color: white;
}

table.calendar-table td {
  padding: 0;
  cursor: pointer;
}

table.calendar-table td:hover b {
  background-color: rgba(255, 255, 0, 0.5);
}

table.calendar-table td.active b {
  background-color: yellow;
}

table.calendar-table td b {
  display: block;
  width: 40px;
  height: 40px;
  background-color: none;
  margin: 0 auto;
  border-radius: 50%;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */